setuptools
wheel
pytest
empty
flask
flask-testing
flask-security-too
flask-admin
flask-sqlalchemy
flask-migrate
sqlalchemy-utils
psycopg2
marshmallow
flask-marshmallow
eventlet
flask-socketio
marshmallow-sqlalchemy
flask-debugtoolbar
pydantic
apscheduler
requests
pytz
