{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="flex flex-col md:flex-row">
    <div class="p-4 bg-base-100 flex-grow flex items-center justify-center">
        <div class="p-6 bg-base-300 rounded-lg shadow-lg max-w-5xl w-full">
            <article class="prose prose-lg max-w-none">
                <h2 class="text-center text-3xl font-bold mb-4">History</h2>
                <h4 class="text-center text-xl font-medium mb-4">
                    The UCMFPTDCYAMBCMYR has a storied history ranging from CPA-certified blind drawings to lobster and steak dinners.
                </h4>
                <p class="indent-10" align="left">
                    The football pool originally began in the 1990s, started by Uncle Charles.
                    Original rules for the football pool were very similar, with the notable exception of the playoffs; originally most and least weeks continued into the playoffs!
                    The original league had about 30 members at it's peak.
                </p>
                <p class="indent-10" align="left">
                    Fast-forward a few years, and Grandma and Grandpa brought the pool back!
                    To honor Uncle Charles, they renamed the pool to commemorate his great contributions to football enjoyment and familial bonding.
                    That leads us to the <b>UCMFPTDCYAMBCMYR</b>: the "Uncle Charles Memorial Football Pool That Doesn't Cost You Any Money But Can Make You Rich".
                    Verbose? Definitely. But accurate? Also definitely!
                </p>
                <p class="indent-10" align="left">
                    Traditionally, each season begins with an extravagant lobster and steak dinner at which the drawing occurs.
                    Unfortunately, the invites always arrive <i>after</i> the drawing and dinner.
                    I guess they must have a lot of leftovers.
                    Regardless of any baseless accusations of rigging, these drawings are honest and fair.
                    Grandma and Grandpa have outstanding morals and integrity, and I'm not just saying that because I have the Chiefs this year.
                </p>
                <h5 class="text-center text-xl font-medium mb-4">
                    <!-- <p class="text-center"> -->
                    A few interesting tidbits in the league's history:
                </h5>
            <!-- </p> -->
                <ul class="list-disc pl-6 space-y-2">
                    <li>Aunt Katherine made shirts after the league's return!</li>
                    <li>The drawings are CPA-certified blind drawings. According to Grandma, at least.</li>
                    <li>During one selection party, the teams and people were in bowls out on the deck. A gust of wind sent both bowls and their contents flying!</li>
                </ul>
                <p class="text-center">
                    To see the current assignments, check out <a class="link" href="/assignments">Assignments</a>.
                </p>
            </article>
        </div>
    </div>
    <div class="divider lg:divider-horizontal"></div>
    <div class="p-4 bg-base-100 flex-grow flex items-center justify-center">
        <div class="p-6 bg-base-300 rounded-lg shadow-lg max-w-5xl w-full">
            <article class="prose prose-xl max-w-none">
                <h2 class="text-center text-3xl font-bold mb-4">Rules</h2>
                <h4 class="text-center text-xl font-medium mb-4">
                    There are a few ways to win in the football pool.
                    Unfortunately for us, all of us involve Grandma rigging in our favor!
                </h4>
                <p>
                    The first week of the season is a "most" week, and the following week is a "least" week.
                    This pattern alternates until the playoffs begin, at which point the most and least points no longer matter.
                </p>
                <ol class="list-decimal pl-6 space-y-2">
                    <li>If your team scores the most points of all teams during a most week, you win <b>$10</b>.</li>
                    <li>If your team scores the least points of all teams during a least week, you win <b>$10</b>.</li>
                    <li>If your team scores exactly 50 points, you win exactly <b>$50</b>.</li>
                    <li>If your team wins a playoff game, you win <b>$10</b>.</li>
                    <li>If your team wins the Super Bowl, you win <b>$25</b>.</li>
                    <li>For making this website, Matt gets <b>$10,000</b>! (Pending grandparents' approval.)</li>
                </ol>
                <p>
                    If multiple teams share a winning score during a most or least week, all teams sharing the winning score win.
                </p>
                <p class="text-center">
                    To see winners so far this year, check out <a class="link" href="/results">Results</a>.
                </p>
            </article>
        </div>
    </div>
</div>
{% endblock %}
