{% extends 'base.html' %}

{% block title %}Assignments{% endblock %}

{% block content %}
<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
            <th></th>
            <th align="left">Team</th>
            <th align="left">Owner</th>
        </tr>
      </thead>
      <tbody>
        <!-- row per owner -->
        {% for owner in owners %}
            {% set team = owner.team %}
            <tr class="space-x-4">
                <td align="center" valign="middle">
                    <div class="avatar">
                        <div class="mask mask-squircle h-12 w-12">
                            <img src="{{ team.logo_url }}" alt="{{ team.city }} {{ team.name }} logo" style="max-height: 30px; max-width: 50px; width:auto;">
                        </div>
                    </div>
                </td>
                <td valign="middle">
                    <div class="flex items-center gap-3">
                        <div>
                            <div class="font-bold">{{ team.name_str }}</div>
                        </div>
                    </div>
                </td>
                <td valign="middle">
                    {{ owner.name_str }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
