{% extends 'base.html' %}

{% block title %}Assignments{% endblock %}

{% block content %}
<div class="overflow-x-auto">
    <table class="table table-lg">
      <!-- head -->
      <thead>
        <tr>
            <th></th>
            <th align="left">Team</th>
            <th align="left">Owner</th>
        </tr>
      </thead>
      <tbody>
        <!-- row per owner -->
        {% for owner in owners %}
            {% set team = owner.team %}
            <tr class="space-x-4">
                <td align="center" valign="middle">
                    <div class="flex items-center justify-center h-16 w-16 overflow-hidden">
                        <a
                            href="https://www.espn.com/nfl/team/_/name/{{ team.abbreviation.lower() }}/{{ team.city.lower().replace(' ', '-') }}-{{ team.name.lower().replace(' ', '-') }}"
                            target="_blank">
                            <img
                                src="{{ team.logo_url }}"
                                alt="{{ team.city }} {{ team.name }} logo"
                                class="w-auto h-full object-contain">
                        </a>
                    </div>
                </td>
                <td valign="middle">
                    <div class="flex items-center gap-3">
                        <div>
                            <div class="font-bold">{{ team.name_str }}</div>
                        </div>
                    </div>
                </td>
                <td valign="middle">
                    {{ owner.name_str }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
