<!DOCTYPE html>
<html lang="en" data-theme="{{ g.theme }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="A dashboard to track the results of the football pool, both weekly and over the year!">
    <meta name="keywords" content="UCMFPTDCYAMBCMYR, football pool, Football, Pool">
    <meta name="author" content="Matthew Dies">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- for previews from sites like LinkedIn (hire me), iOS, etc. -->
    <meta property="og:title" content="Dies Family Football Pool" />
    <meta property="og:description" content="A dashboard to track the results of the Dies family's football pool, both weekly and over the year!" />
    <meta property="og:url" content="https://footballpool.mattdies.com" />
    <meta property="og:image" content="https://footballpool.mattdies.com/static/favicon/android-chrome-512x512.png" />
    <meta property="og:type" content="website" />

    <!-- load the CSS -->
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    {% block styles %}{% endblock %}

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

    <!-- title block -->
    <title>{% block title %}UCMFPTDCYAMBCMYR{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen">

    <header>
        {% include 'layout/navbar.html' %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="mt-auto">
        {% include 'layout/footer.html' %}
    </footer>

    <!-- scripts -->
    <script type="module" src="{{ url_for('static', filename='output/htmx.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
