{% set away_team = game.away_team %}
{% set home_team = game.home_team %}
<!-- Away Team -->
<div class="flex flex-col items-center p-1 rounded-lg">
    <img src="{{ url_for('static', filename=away_team.logo_url) }}" alt="{{ away_team.name_str }} Logo" class="w-16 h-auto">
</div>
<!-- Start Date and Time -->
<div class="flex flex-col items-center">
    <span class="text-lg font-semibold text-center">{{ game.date_str }}</span>
    <span class="text-sm text-center text-center">{{ game.start_time_str }} EST</span>
</div>
<!-- Home Team -->
<div class="flex flex-col items-center p-1 rounded-lg">
    <img src="{{ url_for('static', filename=home_team.logo_url) }}" alt="{{ home_team.name_str }} Logo" class="w-16 h-auto">
</div>
